.Local {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #dfdada;
}

.Titulo {
  margin-top: 1rem;
  font-size: 30px;
  font-family: Montserrat;
  color: #212529;
 
}

.iframe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.iframe-container iframe {
  display: block;
  max-width: 100%;
}
.StyleIcons {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 30px;
  
}
.TituloIcons {
  font-size: 20px;
  color: #000;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}
.descricao {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
 align-content: center;
  gap: 7rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.descricao-item p {
  font-size: 20px;
  color: #000;
  font-family: Times New Roman;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-left: 0.6rem;
}

/* Estilos para telas menores */
@media screen and (max-width: 808px) {
  .descricao {
    flex-direction: column; /* Mude para uma coluna em telas menores */
    align-items: center; /* Centralize os elementos na coluna */
    text-align: center;
    gap: 0;
  }

  .descricao-item {
    margin: 1rem 0; /* Espaço entre cada item de localização */
  }

  .descricao-item i {
    margin: 0.6rem 0; /* Espaço entre o ícone e o texto */
  }
}
