.Local {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dfdada;
}

.Titulo {
  margin-top: 1rem;
  font-size: 30px;
  font-family: Montserrat;
  color: #212529;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iframe-container {
  width: 100%;
  max-width: 900px;
  overflow: hidden; /* Impede a rolagem horizontal */
}

.iframe-container iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

.descricao {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.descricao-item {
  display: flex;
  flex-direction: row; /* Ajuste para alinhar ícones ao lado das descrições */
  align-items: center;
  text-align: left;
}

.StyleIcons {
  font-size: 40px; /* Tamanho do ícone */
  color: #f84f35; /* Cor laranja */
  margin-right: 1rem; /* Espaço entre o ícone e o texto */
}

.TituloIcons {
  font-size: 20px; /* Tamanho do texto */
  color: #000; /* Cor do texto */
  font-family: Times New Roman;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-left: 1rem;
}

/* Estilos para telas menores */
@media screen and (max-width: 808px) {
  .descricao {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1rem;
  }

  .descricao-item {
    margin: 0.5rem 0;
  }

  .StyleIcons {
    margin-right: 1rem; 
  }
}

