
.Titulo {
  font-size: 30px;
  font-family: Montserrat;
  color: #212529;
}

  .Principal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }

  .informacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhar os itens à esquerda */
    text-align: center;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .StyleIcons {
    font-size: 30px;
    color: #f84f35;
    margin-right: 0.5rem;
  }
  
  .TituloIcons {
    font-size: 20px;
    color: #000;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  
  .info-text {
    margin-left: 1rem; /* Espaçamento à esquerda para alinhar com base nos ícones */
  }
  
  .whatsapp-icon {
    width: auto; /* Remover a largura fixa para o ícone do WhatsApp */
  }
  
.teste {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #9cffb9;
  color: #28252a;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  padding: 1px 1px;
  text-decoration: none;
}

.teste:hover {
  background-color: #9cffb9;
}
.Midia {
  display: flex;
  font-size: 20px;
  gap: 1rem;
  margin-right: 40px;
}
.logo {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  flex-direction:column;
  margin-bottom: 1rem; 
}

.Sociais {
  display: flex;
  align-items: center; /* Centraliza verticalmente os ícones de mídia */
  gap: 1rem;
  margin-left: 20px; /* Adicionei uma margem à esquerda para separar o logotipo e os ícones */
}

.Copy{
  font-size: 20px;
  color: #000;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .Principal {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 2rem;
  }

  .Sociais {
    margin-top: 1rem;
  }

  .StyleIcons {
    font-size: 20px;
    gap: 0.5rem;
  }

  .informacao {
    padding: 1rem;
    text-align: center;
  }

  /* Alinhe os ícones e os parágrafos da localização e do horário */
  .info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
  }

  .info-item i {
    font-size: 30px;
   margin-left: 3rem;
  }

  .info-item .TituloIcons {
    font-size: 20px;
    color: #000;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

#horas{
  margin-right: 5.9rem;
}
#local{
  margin-right: 3rem;
}
}

