<div class="Principal" id="Contato">
    <div class="logo">
      <a class="d-flex align-items-center p-0 text-dark">
        <img alt="logo" src="../../../assets/image/Logo.png" width="200px" />
      </a>
      <div class="Sociais">
        <span class="Midia">
          <a href="https://web.facebook.com/profile.php?id=100085006670743" style="text-decoration: none; margin-left: 1rem;">
            <i class="teste fab fa-facebook fa-fw fa-1x"></i>
          </a>
          <a href="https://www.instagram.com/sitioverdeflor/" style="text-decoration: none;">
            <i class="teste fab fa-instagram fa-fw fa-1x"></i>
          </a>
          <a href="https://www.linkedin.com/in/s%C3%ADtio-verde-flor-616039280/" style="text-decoration: none;">
            <i class="teste fab fa-linkedin fa-fw fa-1x"></i>
          </a>
        </span>
      </div>
    </div>
  
    <div class="informacao">
      <div class="info-item">
        <i class="StyleIcons fa-solid fa-location-dot" style="color: #28252A;"></i>
        <p class="TituloIcons info-text" id="local">JD Morumbi-Chácara, 02-Conj Q-Planaltina, Brasília</p>
      </div>
  
      <div class="info-item">
        <i class="StyleIcons fab fa-whatsapp fa-fw fa-1x whatsapp-icon" style="color: #28252A;"></i>
        <p class="TituloIcons info-text">(61) 99156-7774</p>
      </div>
  
      <div class="info-item">
        <i class="StyleIcons fa-regular fa-envelope" style="color: #28252A;"></i>
        <p class="TituloIcons info-text">VerdeFlor@gmail.com</p>
      </div>
  
      <div class="info-item">
        <i class="StyleIcons fa-regular fa-clock" style="color: #28252A;"></i>
        <p class="TituloIcons info-text" id="horas">Segunda à Sábado: 08:00 às 23:30 horas</p>
      </div>
    </div>
  </div>
  
  <div style="display: flex; flex-direction: column; text-align: center; height: 10%; background-color: #00BB37; justify-content: center;">
    <small class="Copy" style="color: white;">&copy; VerdeFlor, 2023. All rights reserved.</small>
  </div>
  