<div class="Principal" id="Contato">
    <div class="logo">
        <a class="d-flex align-items-center p-0 text-dark">
            <img alt="logo" src="../../../assets/image/Logo.png" width="200px" />
        </a>
        <div class="Sociais">
            <span class="Midia">
                <a href="" style=" text-decoration: none;"> <i [class]="teste"
                        class='fab fa-facebook fa-fw fa-1x'></i></a>
                <a href="https://www.instagram.com/sitioverdeflor/" style=" text-decoration: none;"><i [class]="teste"
                        class='fab fa-instagram fa-fw fa-1x'></i></a>
                <a href="https://www.linkedin.com/in/s%C3%ADtio-verde-flor-616039280/" style=" text-decoration: none;">
                    <i [class]="teste" class='fab fa-linkedin fa-fw fa-1x'></i></a>
            </span>
        </div>
    </div>

    <div class="informacao">
        <div style="margin-bottom: 1rem;">
            <i class="fa-solid fa-location-dot" style="color: #28252A; margin-bottom: 1rem;" [class]="StyleIcons" >
                <p class="TituloIcons"style="display: flex;justify-content: center;justify-items: center;text-align: center;align-items: center;
                align-content: center;margin: 0; margin-left: 1rem" > JD Morumbi-Chácara, 02-Conj Q-Planaltina, Brasília </p>
            </i>


            <i class='fab fa-whatsapp fa-fw fa-1x' [class]="StyleIcons" style="color: #28252A; width: 200px;">
                <p class="TituloIcons" style="display: flex;justify-content: center;justify-items: center;text-align: center;align-items: center;
                align-content: center;margin: 0;margin-left: 1rem">(61) 99156- 7774</p>
            </i>


        </div>
        <div>
            <i class="fa-regular fa-envelope" [class]="StyleIcons" style="color: #28252A; margin-bottom: 1rem;">
                <p class="TituloIcons"style="display: flex;justify-content: center;justify-items: center;text-align: center;align-items: center;
                align-content: center;margin: 0;margin-left: 1rem">VerdeFlor@gmail.com</p>
            </i>


            <i class="fa-regular fa-clock" [class]="StyleIcons" style="color: #28252A;">
                <p class="TituloIcons" style="display: flex;justify-content: center;justify-items: center;text-align: center;align-items: center;
                align-content: center;margin: 0;margin-left: 1rem">Segunda à Sábado: 08:00 às 23:30 horas </p>
            </i>

        </div>
    </div>

</div>
<div
    style="display: flex;flex-direction: column; text-align: center; height: 10%;background-color: #00BB37; justify-content: center;">
    <small class="Copy" style=" color: white;">&copy; VerdeFlor, 2023. All rights reserved.</small>
</div>