<mat-toolbar class="header"  >
    <mat-toolbar-row>
       
        <div class="logo">
            <a href="#">
                <img src="../../../assets/image/Logo.png" alt="Logo do Site"> 
            </a>
            
        </div>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
        
        <div fxShow="true" fxHide.lt-md="true" class="menu">

            <a href="#Home">
                Home
            </a>
            <a href="#SobreNos">
                Sobre Nós
            </a>
            <a href="#Galeria">
                Galeria
            </a>
            <a href="#Orcamento">
                Orçamento
            </a>
            <a href="#Localizacao">
                Localização
            </a>
            <a href="#Contato">
                Contato
            </a>
        </div>
        <div fxShow="true" fxHide.lt-md="true" class="Midia">
            <a href="https://web.facebook.com/profile.php?id=100085006670743"> <i [class]="teste" class='fab fa-facebook fa-fw fa-1x'></i></a>
            <a href="https://www.instagram.com/sitioverdeflor/"><i [class]="teste"
                    class='fab fa-instagram fa-fw fa-1x'></i></a>
            <a href="https://www.linkedin.com/in/s%C3%ADtio-verde-flor-616039280/"> <i [class]="teste"
                    class='fab fa-linkedin fa-fw fa-1x'></i></a>

        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav position="end"  class="custom-sidenav" >
        <mat-nav-list style="color: white;">
            <!-- <a (click)="toggleSidenav()" mat-list-item>
                <mat-icon>close</mat-icon> 
            </a> -->
            <a href="#Home" mat-list-item (click)="toggleSidenav()" >
                
                Home
            </a>
            <a href="#SobreNos" mat-list-item (click)="toggleSidenav()">
               
               Sobre Nós</a>
            <a href="#Galeria" mat-list-item (click)="toggleSidenav()">
                Galeria
            </a>
            <a href="#Localizacao" mat-list-item (click)="toggleSidenav()">
                Localização
            </a>
            <a href="#Contato" mat-list-item (click)="toggleSidenav()">
                Contato
            </a>
           
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill><app-home></app-home></mat-sidenav-content>
</mat-sidenav-container>