/* .header {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: rgba(109, 109, 109, 0.5); 
  position: fixed;
  width: 100%;
 
} */

.header .logo {
  max-height: 120px;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  color: #51f868; /* Cor de texto sem opacidade */
  font-family: Outfit;
  font-weight: 600;
}

.header .titles {
  display: flex;
  gap: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
.Principal {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.header .Midia {
  display: flex;
  font-size: 10px;
  gap: 1rem;
  margin-right: 40px;
}

.teste {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9cffb9;
  color: white;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  padding: 1px 1px;
}

.teste:hover {
  background-color: #9cffb9;
}

/* Estilos para tela grande */
.header {
  display: flex;
  align-items: center;
  background-color: rgba(109, 109, 109, 0.5);
  width: 100%;
  background-size: cover; /* Torna o background responsivo */
  position: fixed;
  z-index: 1000; 
}

.logo {
  flex-grow: 1; 
  display: flex;
  justify-content: space-between;
    align-items: center;
}

.logo-img {
  max-height: 120px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.titles {
  display: flex;
  gap: 2rem;
}

.menu-toggle {
  display: none; /* Oculta o botão de menu em telas grandes */
}

/* Estilos para telas menores (responsivo) */
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;

    background-size: cover; /* Torna o background responsivo */
  }

  .menu {
    display: none; /* Oculta o menu em telas menores por padrão */
    flex-direction: column;
    align-items: flex-start;
  }

  .menu.active {
    display: flex; /* Exibe o menu quando a classe 'active' é adicionada */
  }

  .menu-toggle {
    display: flex;
    justify-content: flex-end;
    display: block; /* Exibe o botão de menu em telas menores */
  }
}
