<div class="header ">
  <div style="margin-left: 5rem; ">
    <a>
      <img class="logo" src="../assets/image/Logo.png " alt="Logo VerdeFlor">
    </a>
  </div>
  <div class="Principal">
    <span class="titles">
      <a href="#Home"> Home</a>
      <a href="#SobreNos">Sobre Nós</a>
      <a href="#Galeria">Galeria</a>
      <a href="#Localizacao"> Localização</a>
      <a href="">Contato</a>

    </span>
    <div>
      <span class="Midia">
        <a href=""> <i  [class]="teste" class='fab fa-facebook fa-fw fa-1x'></i></a> 
        <a href="https://www.instagram.com/sitioverdeflor/"><i [class]="teste" class='fab fa-instagram fa-fw fa-1x'></i></a>
        <a href="https://www.linkedin.com/in/s%C3%ADtio-verde-flor-616039280/"> <i [class]="teste" class='fab fa-linkedin fa-fw fa-1x'></i></a>
      </span>
    </div>
  </div>
</div>
<app-home></app-home>
<app-sobre-nos></app-sobre-nos>
<app-galeria></app-galeria>
<app-localizacao></app-localizacao>
<router-outlet></router-outlet>