<div class="Principal" id="Galeria">
    <div class="DivTitulo">
        <h1 class="Titulo">Galeria</h1>
    </div>
    <div class="img">
        <img src="../../../assets/image/Galeria.jpg" alt="" class="ImgGlobal">
        <img src="../../../assets/image/Galeria2.webp" alt="" class="ImgGlobal">
        <img src="../../../assets/image/Galeria3.jpg" alt="" class="ImgGlobal">
        <img src="../../../assets/image/Galeria4.jpg" alt="" class="ImgGlobal">
    </div>
    <div class="img">
        <img src="../../../assets/image/Galeria5.jpg" alt="" class="ImgGlobal">
        <img src="../../../assets/image/Galeria6.jpg" alt="" class="ImgGlobal">
        <img src="../../../assets/image/Galeria7.jpg" alt="" class="ImgGlobal">
        <img src="../../../assets/image/Galeria8.jpg" alt="" class="ImgGlobal">
    </div>
    <div class="img" style="margin-bottom: 3rem;">
        <img src="../../../assets/image/Galeria10.jpg" alt="" class="ImgGlobal">
        <img src="../../../assets/image/Galeria11.webp" alt="" class="ImgGlobal">
        <img src="../../../assets/image/Galeria12.jpg" alt="" class="ImgGlobal">
        <img src="../../../assets/image/306583657_2325475060940747_4202024229055818307_n.jpg" alt="" class="ImgGlobal">
    </div>
</div>