<div class="Principal" id="Galeria">
    <div class="DivTitulo">
        <h1 class="Titulo">Galeria</h1>
    </div>
    <div class="img" id="Galeria1"><!--Galeria -->
        
        <div class="Foto" id="Foto1">
            <a href="#Foto1"> <img src="../../../assets/image/Galeria.jpg" alt=""></a>
        </div>
        <div class="Foto" id="Foto2">
            <a href="#Foto2"> <img src="../../../assets/image/Galeria2.webp" alt=""></a>
        </div>
        <div class="Foto" id="Foto3">
            <a href="#Foto3"> <img src="../../../assets/image/Galeria3.jpg" alt=""></a>
        </div>
        <div class="Foto" id="Foto4">
            <a href="#Foto4"> <img src="../../../assets/image/Galeria4.jpg" alt=""></a>
        </div>
        <div class="Foto" id="Foto5">
            <a href="#Foto5"> <img src="../../../assets/image/Galeria5.jpg" alt=""></a>
        </div>
        <div class="Foto" id="Foto6">
            <a href="#Foto6"> <img src="../../../assets/image/Galeria6.jpg" alt=""></a>
        </div>
        <div class="Foto" id="Foto7">
            <a href="#Foto7"> <img src="../../../assets/image/Galeria7.jpg" alt=""></a>
        </div>
        <div class="Foto" id="Foto8">
            <a href="#Foto8"> <img src="../../../assets/image/Galeria8.jpg" alt=""></a>
        </div>
        <div class="Foto" id="Foto9">
            <a href="#Foto9"> <img src="../../../assets/image/Galeria9.webp" alt=""></a>
        </div>
        <div class="Foto" id="Foto10">
            <a href="#Foto10"> <img src="../../../assets/image/Galeria10.jpg" alt=""></a>
        </div>
        <div class="Foto" id="Foto11">
            <a href="#Foto11"> <img src="../../../assets/image/Galeria11.webp" alt=""></a>
        </div>
        <div class="Foto" id="Foto12">
            <a href="#Foto12"> <img src="../../../assets/image/Galeria12.jpg" alt=""></a>
        </div>
        
    </div>
