<div class="Principal" id="Galeria">
    <div class="DivTitulo">
        <h1 class="Titulo">Galeria</h1>
    </div>
    <div class="img" id="Galeria1"><!--Galeria -->

        <div class="Foto" >
            <a href="#Galeria"(click)="abrirLightbox('../../../assets/image/Galeria.jpg', 'Descrição da Imagem')"> <img src="../../../assets/image/Galeria.jpg" alt=""></a>
        </div>
        <div class="Foto" >
            <a href="#Galeria"(click)="abrirLightbox('../../../assets/image/Galeria2.webp', 'Descrição da Imagem')"> <img src="../../../assets/image/Galeria2.webp" alt=""></a>
        </div>
        <div class="Foto" >
            <a href="#Galeria"(click)="abrirLightbox('../../../assets/image/Galeria3.jpg', 'Descrição da Imagem')"> <img src="../../../assets/image/Galeria3.jpg" alt=""></a>
        </div>
        <div class="Foto" >
            <a href="#Galeria"(click)="abrirLightbox('../../../assets/image/Galeria4.jpg', 'Descrição da Imagem')"> <img src="../../../assets/image/Galeria4.jpg" alt=""></a>
        </div>
        <div class="Foto" >
            <a href="#Galeria"(click)="abrirLightbox('../../../assets/image/Galeria5.jpg', 'Descrição da Imagem')"> <img src="../../../assets/image/Galeria5.jpg" alt=""></a>
        </div>
        <div class="Foto" >
            <a href="#Galeria"(click)="abrirLightbox('../../../assets/image/Galeria6.jpg', 'Descrição da Imagem')"> <img src="../../../assets/image/Galeria6.jpg" alt=""></a>
        </div>
        <div class="Foto" >
            <a href="#Galeria"(click)="abrirLightbox('../../../assets/image/Galeria7.jpg', 'Descrição da Imagem')"> <img src="../../../assets/image/Galeria7.jpg" alt=""></a>
        </div>
        <div class="Foto" >
            <a href="#Galeria"(click)="abrirLightbox('../../../assets/image/Galeria8.jpg', 'Descrição da Imagem')"> <img src="../../../assets/image/Galeria8.jpg" alt=""></a>
        </div>
        <div class="Foto" >
            <a href="#Galeria"(click)="abrirLightbox('../../../assets/image/Galeria9.webp', 'Descrição da Imagem')"> <img src="../../../assets/image/Galeria9.webp" alt=""></a>
        </div>
        <div class="Foto" >
            <a href="#Galeria"(click)="abrirLightbox('../../../assets/image/Galeria10.jpg', 'Descrição da Imagem')"> <img src="../../../assets/image/Galeria10.jpg" alt=""></a>
        </div>
        <div class="Foto" >
            <a href="#Galeria"(click)="abrirLightbox('../../../assets/image/Galeria11.webp', 'Descrição da Imagem')"> <img src="../../../assets/image/Galeria11.webp" alt=""></a>
        </div>
        <div class="Foto" >
            <a href="#Galeria"(click)="abrirLightbox('../../../assets/image/Galeria12.jpg', 'Descrição da Imagem')"> <img src="../../../assets/image/Galeria12.jpg" alt=""></a>
        </div>
        <div id="lightbox" (click)="fecharLightbox()">
            <div class="lightbox-content">
                <img [src]="lightboxImgSrc" [alt]="lightboxImgAlt">
            </div>
    </div>
</div>