.Principal {
    display: flex;
    flex-direction: column;
    background-color: #e8e5e5;
    margin-top: 1rem;
   
    width: 100%;
    
  }
  .DivTitulo {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 1.5rem;
  }
  
  .Titulo {
    font-size: 30px;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: #212529;
  }

/* Estilos para a classe .img */
.img {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(4, 0.2fr); 
  gap: 20px; 
 margin-bottom: 2rem;
  justify-content: center;
}

/* Estilos para a classe .Foto */
.Foto {
  text-align: center; /* Centralizar o conteúdo horizontalmente */
  margin: 0 auto; /* Centralizar o conteúdo verticalmente */
}

/* Estilos para as imagens dentro das fotos */
.Foto img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz a imagem preencher todo o espaço do contêiner */
}


/* Estilos para o lightbox */
#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 1000; /* Garante que o lightbox esteja na parte superior */
  justify-content: center;
  align-items: center;
 
}

.lightbox-content img {
  max-width: 90%; /* Define o tamanho máximo das imagens */
  max-height: 90vh; /* Define o tamanho máximo das imagens com base na altura da visualização */
  object-fit: contain; /* Mantém a proporção da imagem, centralizada */
  margin-top: 4rem;
 
}

/* Estilos para a classe .img */
.img {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(4, 0.2fr);
  gap: 20px;
  margin-bottom: 2rem;
  justify-content: center;
}

/* Estilos para a classe .Foto */
.Foto {
  text-align: center;
  margin: 0 auto;
}
