<div class="principal" id="SobreNos">
    <div class="imagem">
        <img src="../../../assets/image/SobreNos.jpeg" alt="" class="imagem">

    </div>
    <div class="text">
        <h1 class="titulo">Sobre Nós</h1>
        <h3 class="descricao">Bem-vindo ao nosso encantador refúgio para eventos - um lugar onde os sonhos se tornam
            realidade e memórias preciosas são criadas!<br> Aqui, no coração da natureza exuberante, encontra-se o nosso
            sítio sereno, especializado em aluguel para eventos que variam de casamentos mágicos a celebrações vibrantes
            e confraternizações.<br> Além disso, nosso sítio é uma escolha sustentável para os amantes da natureza.
            Valorizamos a preservação do meio ambiente e adotamos
            práticas eco-friendly sempre que possível, para que sua celebração seja não apenas inesquecível, mas também
            gentil com o planeta.</h3>
        <div style="display: flex; justify-content: center;">
            <button class="button"> <a href="https://wa.me/5561991567774"
                    style="text-decoration: none;color: white;">Entre
                    em Contato <i class='fab fa-whatsapp fa-fw fa-1x'></i></a></button>
        </div>
        
    </div>
</div>